<h2>Jeremias Gotthelf (1797–1854)</h2>
<div class="wrapper" id="wrapper">
    <div class="graphContainer" id="graphContainer" style="float: left; width: 98%; overflow: hidden; margin: 20px;">
        <div #rendererContainer id="3d-graph"></div>
    </div>
    <!--p #welcomeText id="welcomeText" style="float: left; width:20%">Leben und Werk von Jeremias Gotthelf sind geprägt von liberalen Idealen, die 1831 in die Berner Verfassung eingingen. An deren Versprechen, der Souveränität eines mündigen Volkes und der sozialen Verantwortung aller Schichten im Rahmen einer christlichen Soziallehre, richtete sich Gotthelf, gemäss seinem Selbstverständnis als christlicher Republikaner, zeitlebens aus. Nicht nur seine politischen Zeitungsartikel und Kalenderschriften, sondern auch die frühen Romane, der Bauernspiegel und Leiden und Freuden eines Schulmeisters, dokumentieren den liberalen Reformeifer. Gotthelfs satirisches Talent wurde, ähnlich wie das Heinrich Heines, durch unfähige Regenten und Beamten gereizt.</p-->
</div>