<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
      Digitale Gesamtausgabe Jeremias Gotthelf
    </a>
    <button class="navbar-toggler ml-auto" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link float-right" routerLink="/aktuelles" (click)="closeNavbar()">Aktuelles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link float-right" routerLink="/edition" (click)="closeNavbar()">Edition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link float-right" routerLink="/projekt" (click)="closeNavbar()">Projekt</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link float-right" routerLink="/suche" (click)="closeNavbar()">Suche</a>
        </li>
      </ul>
    </div>
  </nav>