.column {
    //float: left;
    width: 100%;
    min-width: 200px;
    //overflow: hidden;
    margin-top:20px;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    margin-top: 20px;
    background-color: #ffe6ee;
}