<div class="container">
  <h2>Alle Gotthelf-Druckwerke</h2>

  <!--div class="column"><div id="3d-graph"></div></div-->

  <div class="column">
    <div class="collapse" [ngClass]="{'show' : waitingForData}">
      <p>Lädt ca. 1 Minute, bitte warten ...</p>
      <img src="assets/img/waitingBoy.gif" />
      <!--iframe src="https://giphy.com/embed/tXL4FHPSnVJ0A" width="480" height="317" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/kim-novak-tXL4FHPSnVJ0A">via GIPHY</a></p-->
      <!--button type="submit" class="btn btn-success" style="color:black; margin-top:20px; margin-bottom:30px;" (click)="getTextFromServer(1)">Hole Text C5G_Geld_3 aus eXist-DB</button-->
      <!--button type="submit" class="btn btn-success" style="color:black; margin-top:20px; margin-bottom:30px;" (click)="getDocumentParagraphsFromServer(1)">Hole Text "C2G Geld und Geist 1" aus eXist-DB (nur p-tags, hkg-b)</button-->
      <!--button type="submit" class="btn btn-success" style="color:black; margin-top:20px; margin-bottom:30px;" (click)="getDocumentFromServer(1)">getXMLDocumentAsJSON (hkg-b)</button-->
    </div>
    <ng-container *ngIf="data.collection">
      <p *ngFor="let work of data.collection[1].document">
        <ng-container *ngIf="work.title.length;">
          <a href="{{work['#text']}}" target="_blank">{{work.title}}</a>
        </ng-container>
      </p>
    </ng-container>

    <ng-container *ngIf="data.TEI">
      <p *ngFor="let p of data.TEI.text.body.div.p; let i = index;">
        |<u><b>P{{i+1}}</b> {{p['xml:id']}}</u>|<br />
        
        <ng-container *ngIf="p.app; else noApp">
          <ng-container *ngIf="p.app.length; else oneApp">
            <ng-container *ngFor="let app of p.app; let j = index;"> <!--{{p.app.length + 1}} &lt;app&gt; vorhanden
              <b>((j = {{j}}))</b--> {{p['#text'][j]}} <span class="lem">{{app.lem}}</span>
            </ng-container>
          </ng-container>
          
          <ng-template #oneApp>
            <span class="one-app">{{p['#text'][0]}}</span> <span class="lem">{{p.app.lem}}</span>
          </ng-template>
      
          <span>
            {{p['#text'][p['#text'].length - 1]}}
          </span>
        </ng-container>
        <ng-template #noApp>
          <span class="no-app">{{p['#text']}}</span>
        </ng-template>
      </p>
    </ng-container>
      <!--ul *ngIf="!pIndexIsChosen && contentReceived" class="paragraphs">
        <li *ngFor="let p of paragraphs.body.p;">
          {{p.text}}
        </li>
      </ul>
      <ul *ngIf="pIndexIsChosen" class="paragraphs" id="chosenParagraph">
        <li>
          <b>Absatz {{pIndex}}</b><br />{{textOfChosenParagraph}} 
        </li>
      </ul>
    </div-->

    <!--div class="content-box select-p" [ngClass]="{ 'show': pMenuVisible }">
      <form>
        <label for="name">Zeige nur folgenden Absatz<br />(Zahl zwischen 1 und 113 eingeben):&nbsp;</label>
        <input type="text" [(ngModel)]="pIndex" name="pIndex" (ngModelChange)="onTextChange($event)" />
      </form>
    </div-->
  </div>
</div>