p {
    margin: 30px;
}

.column {
    //float: left;
    width: 100%;
    min-width: 200px;
    //overflow: hidden;
    margin-top:20px;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    margin-top: 20px;
    background-color: #ffe6ee;
}

#threeDgraph {
    max-width: 200px;
}

.graphContainer {
    width: 50%;
    //max-width: 1000px;
    overflow: hidden !important;
}